{% load static %}
<html>
    <head>
        <title>
            Please Login here <br> or <a href="/meetups/register" >Register</a>
        </title>
        <link rel="stylesheet" href="{% static 'meetups/styles/login.css' %}">

    </head>
<body>


<style>
    h5{
        color: red;
    }
</style>
{% for message in messages %}
    <h5>{{ message }}</h5>
{% endfor %}
<div class="container">
    

    <div class="card">
        <h2>
            Django Meetup
        </h2>
        <div class="inner-box" id="card">
            <div class="card-front" >
                <h2>LOGIN</h2>
                <form method="POST" action="login">
                    {% csrf_token %}
                    <input class="input-box" type="text" name="username" placeholder="Your User name" required/>
                    <input type="password" class="input-box" name="password" placeholder="Password" required/><br>
                    <button type="submit" class="submit-btn">Submit</button>
            
                </form>
                <button type="submit" class="btn" onclick="location.href= '/meetups/register'">I'm New Here</button>

            </div>
        </div>

    </div>

</div>
<!-- <article>
    <section id="details">
        <form method="POST" action="login">
            {% csrf_token %}
            <p>Username:</p>
            <input id="input-box" type="text" name="username"/>
            <p>Password:</p>
            <input type="password" name="password"/><br>
            <input type="submit"/>
    
        </form>
    </section>
</article> -->
   
</body>
</html>

